body {
    margin: 0;
    text-align: center;
    background-color: rgb(220, 242, 223);
}
.top {
    padding: 12%;
}
.luna-pic{
    position: absolute;
    top: 75px;
    left: 110px;
}
.daisy-pic {
    position: absolute;
    top: 75px;
    right: 100px;
}

.middle {
    background-color: whitesmoke;
}
.personal-image {
    border-radius: 50%;
    border-style: dotted;
}
.intro {
    width: 50%;
    margin-left: 25%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.languages {
    height: 100px;
    width: 50%;
    margin: 50px auto;
}
.computer-img {
    float: left;
    margin-left: 160px;
}
ul {
    float: right;
    width: 40%;
    padding-left: 0;
    margin-right: 60px;
}
.leadership {
    height: 100px;
    width: 50%;
    margin: 50px auto;
}
.leadership-col {
    float: left;
    width: 75%;
    margin:0;
    height: 100%;
}
.year {
    float:left;
    width: 30%;
    margin-left: 10px;
}
.location {
    float:right;
    width: 50%;
    margin: 0 auto;
    margin-right: 45px;
}
.harry-img {
    float:right;
    margin-right: 55px;
}
.skills {
    height: 100px;
    width: 50%;
    margin: 50px auto;
}
.skill-col {
    width: 70%;
    height: 70%;
    float: right;

}
.rating {
    float: right;
    width: 30%;
    margin-right: 65px;
}
.mySkill {
    float: left;
    width: 40%;
    margin-left: 40px;
}
.arch-img {
    float: left;
    margin-left: 65px;
}
.content-display {
    height: 50px;  
    margin-bottom: -10px;
}
.content-button {
    background-color: aliceblue;
    border-color: rgb(118, 121, 123);
    border-style: double;
    padding: 5px;
    text-align: center;
}


.bottom {
    background-color: rgb(219, 222, 222);
    padding-bottom: 15px;
    font-family: cursive;
    font-size: x-large;
    color: rgb(118, 121, 123);
}

.card {
    box-shadow: 0 8px 16px 0 rgba(236, 44, 172, 0.2);
    outline-style: double;
    outline-color: violet;
    width: 30%;
    height: 40%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: whitesmoke;
}
form {
    padding: 10%;
}

a:link {
    color: palevioletred;
    text-decoration: none;
}
a:hover {
    color: pink;
    text-decoration: line-through;
}
.name {
    font-family:'Courier New', Courier, monospace;
    color:rgb(89, 90, 90);
}
.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(89, 90, 90)
}
.heading {
    color:rgb(77, 186, 237);
}
hr {
    border: dotted violet;
}
